
p{
  color: white;
  font-size: 1em;
}

a{
  text-decoration: none;
}

button a {
  text-decoration: none;
  color: black;
}

button a:hover {
  text-decoration: none;
  color: #fff;
}

#home {
    background: url(/img/background-marvel.jpg) no-repeat;
    color: white;
}

#movie1 {
  background: url(/img/ironman/banner.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
}

#bg-filmes {
  background: linear-gradient(#140d0d, #480100);
}

.caixa {
    padding: 60px 0px;
    background: linear-gradient(#140d0d, #480100 );
}

.colorMarvel {
    background: linear-gradient(#140d0d, #480100);
}

.colorMarvelInverted {
  background: rgb(20,13,13);
  background: linear-gradient(0deg, rgba(20,13,13,1) 0%, rgba(72,1,0,1) 100%);
}

footer p a {
    margin: 5px 15px;
    
}


.justo{
    text-justify: auto;
    text-align: justify;
}

.descricao {
  width: 50%;
  padding-top: 100px;
  padding-left: 40px;
  
}

.descricao h1,h5 {
  text-align: justify;
}

.genero {
  padding-left: 40px;
}

.avaliacao {
  padding-top: 5px;
  padding-left: 40px;
}


/******************
    FLIP CARDS
*******************/

.flip-card {
    background-color: transparent;
    width: 380px;
    height: 508px;
    perspective: 1000px;
    font-family: sans-serif;
  }
  
  .title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgb(246, 25, 13);
    border-radius: 1rem;
  }
  
  .flip-card-front {
    color: rgb(251, 251, 251);
    font-size: 1.5em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
  }
  
  .flip-card-back {
    background: linear-gradient(120deg, rgb(246, 25, 13) 30%, coral 88%,
       bisque 40%, rgb(255, 185, 160) 78%);
    color: white;
    transform: rotateY(180deg);
  }

  .flip-card-bg1 {
    background: url(/img/ironman/Iron_Man_poster.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* Aplicar filtro blur no background posteriormente
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);*/
  }

  .flip-card-bg2 {
    background: url(/img/cptamerica/cptamerica.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .flip-card-bg3 {
    background: url(/img/avengers/vingadores.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .flip-card-bg4 {
    background: url(/img/avengers/vingadores.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .flip-card-bg5 {
    background: url(/img/avengers/vingadores.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .flip-card-bg6 {
    background: url(/img/avengers/vingadores.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }



  .fa-star {
    font-size: 2em;
    margin-right: 10px;
  }

  button {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
   }
   
   button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   button:hover {
    color: #e8e8e8;
   }
   
   button:hover::before {
    width: 100%;
   }

   /* On screens that are 600px or less, set the background color to olive */
    @media screen and (max-width: 600px) {
      .flip-card {
        margin-bottom: 15px;
      }
      
      .title {
        font-size: 1.5em;
        font-weight: 900;
        text-align: center;
        margin: 0;
      }
      
      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
      }
      
      .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
      }
      
      .flip-card-front, .flip-card-back {
        box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border: 1px solid rgb(246, 25, 13);
        border-radius: 1rem;
      }
  }


   /*********************************************
              CARD ATORES E ATRIZES
  **********************************************/

   .card {
    width: 190px;
    height: 274px;
    background: white;
    padding: .4em;
    border-radius: 6px;
    margin-right: 10px;
  }
  
  .actor-bg1 {
    background: url(../img/ironman/actor/robert.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 60%;
    border-radius: 6px 6px 0 0;
  }

  .actor-bg2 {
    background: url(../img/ironman/actor/gwyneth.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 60%;
    border-radius: 6px 6px 0 0;
  }

  .actor-bg3 {
    background: url(../img/ironman/actor/terrence.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 60%;
    border-radius: 6px 6px 0 0;
  }

  .actor-bg4 {
    background: url(../img/ironman/actor/stanlee.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 60%;
    border-radius: 6px 6px 0 0;
  }

  .actor-bg5 {
    background: url(../img/ironman/actor/clark.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 60%;
    border-radius: 6px 6px 0 0;
  }
  
  .card-image:hover {
    -webkit-transform: scale(0.98);
        -ms-transform: scale(0.98);
            transform: scale(0.98);
  }
  
  .character {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 600;
    text-align: center;
    color: rgb(63, 121, 230);
    padding: 10px 7px 0;
  }
  
  .character:hover {
    cursor: pointer;
  }
  
  .actor-name {
    font-size: 1.2em;
    text-align: center;
    font-weight: 600;
    padding-top: 15px;
    color: rgb(88, 87, 87);
  }
  
  .actor-name:hover {
    cursor: pointer;
  }

  .row > .column {
    padding: 0 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /*********************************************
              GALERIA DE IMAGENS
  **********************************************/
  
  .column {
    float: left;
    width: 25%;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  .mySlides {
    display: none;
  }
  
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  img.demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }


  
